<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<h3>ブック詳細</h3>
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @book.address %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= @book.content %></td>
  </tr>
</table>
<div>
  <ul>
    <li><%= link_to "ブック情報一覧に戻る", :root %></li>
  </ul>
</div>